@font-face {
  font-family: 'ChristmasFont';
  font-style: normal;
  font-weight: normal;
  src: url("./ChristmasReignDeco_PERSONAL_USE.ttf") format("truetype"); }

@font-face {
  font-family: 'ChristmasFontSecond';
  font-style: normal;
  font-weight: normal;
  src: url("./ChristmasReign_PERSONAL_USE.ttf") format("truetype"); }

@font-face {
  font-family: 'Regular';
  font-style: normal;
  font-weight: normal;
  src: url("./Roboto-Regular.ttf") format("truetype"); }

#root, body {
  background-color: #d42426; }

.App {
  height: 100%;
  text-align: center;
  font-family: "ChristmasFont", sans-serif;
  background-color: #d42426;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .App h1 {
    font-weight: normal;
    font-size: 10vmin;
    margin: 8vmin; }
  .App h2 {
    font-weight: normal;
    font-family: "Regular", sans-serif;
    font-size: 7vmin;
    margin: 0; }

.rules {
  width: 90%; }
  .rules span {
    font-family: "ChristmasFont", sans-serif; }

button {
  padding: 1em 2em;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  background-color: #006633;
  margin: 5vmin;
  font-family: "ChristmasFont", sans-serif;
  font-size: 1.5em;
  border-radius: 5vmin;
  border: 5px solid transparent; }
  button:hover {
    border: 5px solid white;
    transition: 0.1s border ease-in; }

.App-header {
  font-family: "ChristmasFont", sans-serif;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

p {
  margin: 1em;
  margin-top: 100px;
  font-family: "ChristmasFont", sans-serif; }

.comeBack {
  margin: 1em;
  font-family: "Regular", sans-serif; }

.App-link {
  color: #61dafb; }

.questions {
  width: 100%;
  margin-top: 1em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.label {
  font-family: "ChristmasFontSecond", sans-serif;
  font-size: 1em;
  margin: 1em; }

.questions > .Label {
  font-size: 1.5em;
  margin: 1em; }

input {
  padding: 1em 2em;
  border-radius: 20px;
  border: 0px;
  margin: 1em; }

select {
  align-self: center;
  width: 300px;
  padding: 1em 2em;
  margin: 1em 2em;
  border-radius: 20px; }

.small {
  width: 180px;
  align-self: center;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  background-color: #006633;
  font-family: "ChristmasFont", sans-serif;
  font-size: 1.2em;
  border-radius: 5vmin;
  flex-basis: 1;
  border: 5px solid transparent;
  text-align: center; }

.authenticate {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  font-size: 2em; }

.authenticate > button {
  font-size: 0.5em; }

.authenticate > input {
  width: 250px;
  padding: 1em 2em;
  margin: 1em 2em; }

.answer {
  color: #004d00;
  font-style: italic; }

.showNameBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em; }

.showNameBox > h2 {
  margin: 0 1em; }

.answers {
  margin: 1em; }

.answers > .question {
  font-family: "ChristmasFontSecond", sans-serif; }

.showNameBox > h2 {
  font-family: "ChristmasFontSecond", sans-serif;
  color: #004d00; }

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(0.9, 0.7, 1); }
  50% {
    transform: translate3d(0, 10%, 0) scale3d(0.7, 0.9, 1); }
  100% {
    transform: translate3d(0, 20%, 0) scale3d(1, 0.7, 1); } }

.jump {
  cursor: pointer;
  display: none;
  width: 40vmin;
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite; }

@keyframes App-logo-spin {
  from {
    zoom: 0.5; }
  to {
    zoom: 1; } }
