@font-face {
  font-family: 'ChristmasFont';
  font-style: normal;
  font-weight: normal;
  src: url('./The-Perfect-Christmas.ttf') format('truetype');
}
@font-face {
  font-family: 'ChristmasFontSecond';
  font-style: normal;
  font-weight: normal;
  src: url('./Waving at Christmas.ttf') format('truetype');
}

$font-primary: 'ChristmasFont', sans-serif;
$font-secondary: 'ChristmasFontSecond', sans-serif;
$christmas-red: #d42426;
$christmas-green: #006633;
.App {
  text-align: center;
  font-family: $font-primary;
  background-color: $christmas-red;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: normal;
    font-size: 20vmin;
    margin: 8vmin;
  }
  h2 {
    font-weight: normal;
    font-family: $font-secondary;
    font-size: 8vmin;
    margin: 0;
  }
}

.rules {
  width: 90%;
  span{
    font-family: $font-primary;
  }
}

button {
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  background-color: $christmas-green;
  padding: 5vmin 10vmin;
  margin: 5vmin;
  font-family: $font-primary;
  font-size: 10vmin;
  border-radius: 5vmin;
  &:hover {
    border: white 5px solid;
    font-size: 10.5vmin;
    transition: 0.1s border ease-in;
  }
}
.App-header {
  font-family: $font-primary;
  p {
    font-family: $font-primary;
  }
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(0.9,0.7,1);}
  50%  {transform: translate3d(0,10%,0) scale3d(.7,0.9,1);}
  100% {transform: translate3d(0,20%,0) scale3d(1,.7,1);}
}

.jump {
  cursor: pointer;
  display: none;
  width: 40vmin;
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}

@keyframes App-logo-spin {
  from {
    zoom: 0.5;
  }
  to {
    zoom: 1;
  }
}
